Package: com.fengzigame.CrackAssistant
Name: CrackAssistant
Version: 1.0-1
Description: 
Section: System
Depends: firmware (>= 5.0)
Conflicts: 
Replaces: 
Priority: optional
Architecture: iphoneos-arm
Author: feng zi
dev: 
Homepage: 
Depiction: 
Maintainer: 
Icon:

